package {{package}};

import org.springframework.cloud.openfeign.FeignClient;
import {{configPackage}}.ClientConfiguration;
import {{apiPackage}}.{{#lambda.titlecase}}{{baseName}}{{/lambda.titlecase}}Api;

{{=[[ ]]=}}
@FeignClient(
  name="${apis.[[#lambda.lowercase]][[baseName]][[/lambda.lowercase]].name:[[#lambda.lowercase]][[baseName]][[/lambda.lowercase]]}",
  contextId="${apis.[[#lambda.lowercase]][[baseName]][[/lambda.lowercase]].contextId:[[#lambda.lowercase]][[baseName]][[/lambda.lowercase]]}",
  url="${insurance.service.base-url:http://localhost:8080}",
  configuration = ClientConfiguration.class
)
[[={{ }}=]]
public interface {{#lambda.titlecase}}{{baseName}}{{/lambda.titlecase}}ApiClient extends {{#lambda.titlecase}}{{baseName}}{{/lambda.titlecase}}Api {
{{#operations}}
  {{#operation}}
    {{{serviceMethodDeclaration}}}
  {{/operation}}
{{/operations}}
}
